<div id="<%= dom_id idea %>">
<h3>This is one of my cat friend!</h3>
  <p>
    <strong class="label">Name:</strong>
    <%= idea.name %>
  </p>

    <strong class="label">Description:</strong>
  <p id="description>
    <%= idea.description %>
  </p>

  <p>
    <strong class="label" id="picture_label">Picture:</strong>
    <img width=250 height=200 src="<%= idea.picture %>">
  </p>

</div>
